---
interface Props {
	size?: 'sm' | 'md' | 'lg';
	class?: string;
}

const { size = 'md', class: className = '' } = Astro.props;

const sizeClasses = {
	sm: 'w-4 h-4',
	md: 'w-5 h-5',
	lg: 'w-6 h-6'
};

const starClass = `${sizeClasses[size]} text-yellow-400 fill-current`;
---

<div class={`flex space-x-1 ${className}`}>
	<svg class={starClass} viewBox="0 0 20 20">
		<path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
	</svg>
	<svg class={starClass} viewBox="0 0 20 20">
		<path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
	</svg>
	<svg class={starClass} viewBox="0 0 20 20">
		<path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
	</svg>
	<svg class={starClass} viewBox="0 0 20 20">
		<path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
	</svg>
	<svg class={starClass} viewBox="0 0 20 20">
		<path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
	</svg>
</div>